body {
    margin: 0;
    font-family: "Segoe UI", Arial, sans-serif;
    background: #f4f6f5;
}

/* GRID LAYOUT */
.hemsida{
  display: grid;
  grid-template-areas:
      "header header"
      "main aside"
      "section section"
      "footer footer";
  grid-template-columns: 5fr 2fr;
  grid-template-rows: 2fr 5fr 1fr 200px;
  height: 260vh;
}

.bloggar{
  display: grid;
  grid-template-areas:
      "header header"
      "main aside"
      "footer footer";
  grid-template-columns: 5fr 2fr;
  grid-template-rows: 2fr 5fr 200px;
  height: 300vh;
}

.schackresurser{
  display: grid;
  grid-template-areas:
      "header header"
      "main aside"
      "footer footer";
  grid-template-columns: 5fr 2fr;
  grid-template-rows: 2fr 5fr 200px;
  height: 300vh;
}

.tavlingar{
  display: grid;
  grid-template-areas:
      "header header"
      "main aside"
      "footer footer";
  grid-template-columns: 5fr 2fr;
  grid-template-rows: 2fr 5fr 200px;
  height: 300vh;
}

/*css areas*/

nav {
    display: flex;
    justify-content: center;
    gap: 25px;
    padding: 15px;
    background: lightblue;
}

main button{
  background: lightblue;
  color: black;
  font-size: 25px;
  padding: 30px 50px;
  border-radius: 10px;
  cursor: pointer;
}

nav a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    padding: 8px 15px;
    border-radius: 5px;
}

nav a:hover {
  background: blue;
}

.bloggar i{
  text-align: right;display: block;font-size:0.7em
}


header{
  grid-area: header;
  background-image: url(/img/schackbild.jpg);
  background-position: 40% 130%;
  background-size: cover;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
aside{
  grid-area: aside;
  display: flex;
  flex-direction: column;
  align-items: center;
}
main{
  grid-area: main;
}
section{
  grid-area:section;
}
footer{
  grid-area: footer;
}

/*html tagger*/
img{
  width: 180px;
}

/*generic css classes*/

.bread{
  border: 1px solid #AAA;
  padding: 1em; 
  border-radius: 1em
}

.avatar{
  height: 200px;
  width: auto;
  border: 10px solid black;
  border-radius: 5px
}

/*css Calender*/
.calendar {
    max-width: 300px;
    background: white;
    padding: 15px;
    border-radius: 10px;
}

.calendar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.calendar-header button {
    background: black;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

.days, .dates {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    text-align: center;
    margin-top: 10px;
}

.days div {
    font-weight: bold;
}

.dates div {
    padding: 10px;
    margin: 2px;
    cursor: pointer;
}

.today {
    background: lightblue;
    border-radius: 50%;
}

.dates div:hover {
    background: #ddd;
}

